[mysqld]
character-set-server=utf8mb4
character-set-client-handshake = FALSE
max_allowed_packet=100000000
max_execution_time=600000

[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4
